In [1]:
#pip install pyspark

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pyspark 
print(pyspark.__version__)

3.2.1

2 . 		  Process Titanic dataset using PySpark - SparkSQL libraries to answer questions given below 

i.		Load the  dataset into a Spark-DataFrame. 	2

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Demo').getOrCreate()
spark

22/03/03 10:38:26 WARN Utils: Your hostname, ikom-ThinkPad-L450 resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface wlp4s0)
22/03/03 10:38:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ikom/nehal/pyspark/env/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/03 10:38:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/03 10:38:32 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
# Reading Data
df_pyspark=spark.read.csv('/home/ikom/nehal/pyspark/titanic_new.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [7]:
df_pyspark.tail(5)

[Row(PassengerId=887, Survived=0, Pclass=2, Name='Montvila, Rev. Juozas', Sex='male', Age=27.0, SibSp=0, Parch=0, Ticket='211536', Fare=13.0, Cabin=None, Embarked='S'),
 Row(PassengerId=888, Survived=1, Pclass=1, Name='Graham, Miss. Margaret Edith', Sex='female', Age=19.0, SibSp=0, Parch=0, Ticket='112053', Fare=30.0, Cabin='B42', Embarked='S'),
 Row(PassengerId=889, Survived=0, Pclass=3, Name='"Johnston, Miss. Catherine Helen ""Carrie"""', Sex='female', Age=None, SibSp=1, Parch=2, Ticket='W./C. 6607', Fare=23.45, Cabin=None, Embarked='S'),
 Row(PassengerId=890, Survived=1, Pclass=1, Name='Behr, Mr. Karl Howell', Sex='male', Age=26.0, SibSp=0, Parch=0, Ticket='111369', Fare=30.0, Cabin='C148', Embarked='C'),
 Row(PassengerId=891, Survived=0, Pclass=3, Name='Dooley, Mr. Patrick', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket='370376', Fare=7.75, Cabin=None, Embarked='Q')]

In [8]:
# Checking data types
df_pyspark.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

ii.		How many people travelled from Titanic (total count)?	2

In [9]:
df_pyspark.count()

891

iii.		What was the average ticket fare?	4

In [10]:
df_pyspark.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [11]:
from pyspark.sql.functions import mean
df_pyspark.select(mean("Fare")).collect()[0][0]

32.2042079685746

In [12]:
df_pyspark.select(mean("Fare")).collect()

[Row(avg(Fare)=32.2042079685746)]

iv.		 What was the average age of people travelled from titanic?	6

In [13]:
df_pyspark.select(mean("Age")).show()

+-----------------+
|         avg(Age)|
+-----------------+
|29.69911764705882|
+-----------------+

v.		 What was the ratio of Lower class - Males to Upper class Females?	8

In [14]:
df_pyspark.select()

DataFrame[]

vi.		 Which was the costliest cabin of titanic? What was its fair?	8

In [15]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)
#sqlContext.read.csv('titanic_new.csv',header=True,inferSchema=True)

In [16]:
df_pyspark.createOrReplaceTempView('Titanic_table')
sqlContext.sql("select * from Titanic_table").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

3		
Using SparkML libraries execute the steps, as questioned below, in order to build a PySpark classification ML-model on Titanic dataset	
	
i.		Find null values count of every feature	2

In [17]:
from pyspark.sql.functions import col
for k in df_pyspark.columns:
    print(k,df_pyspark.where(col(k).isNull()).count())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 2

In [18]:
df_pyspark.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

ii.		 For missing string feature add a new value as ‘missing’. For missing numeric values replace by the mode.	5

In [19]:
# For Numerical Variables
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCol='Age',
    outputCol='Age_Imputed',
).setStrategy("mode")

df_imputed=imputer.fit(df_pyspark).transform(df_pyspark)
df_imputed.show(2)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|Age_Imputed|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25| null|       S|       22.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|71.2833|  C85|       C|       38.0|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+-----------+
only showing top 2 rows

In [20]:
# For Categorical Variables
df_imputed=df_imputed.na.fill({'Cabin':'Missing','Embarked':'Missing'})

In [21]:
df_imputed=df_imputed.drop('Age')

In [22]:
for k in df_imputed.columns:
    print(k,df_imputed.where(col(k).isNull()).count())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 0
Embarked 0
Age_Imputed 0

iii.		Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore.
	5

In [23]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

indexers=[StringIndexer(inputCol=column,outputCol=column+'_index').fit(df_imputed) for column in ['Sex','Embarked']]
pipeline=Pipeline(stages=indexers)
df_imputed=pipeline.fit(df_imputed).transform(df_imputed)

df_imputed.show(3)

+-----------+--------+------+--------------------+------+-----+-----+----------------+-------+-------+--------+-----------+---------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex|SibSp|Parch|          Ticket|   Fare|  Cabin|Embarked|Age_Imputed|Sex_index|Embarked_index|
+-----------+--------+------+--------------------+------+-----+-----+----------------+-------+-------+--------+-----------+---------+--------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|    1|    0|       A/5 21171|   7.25|Missing|       S|       22.0|      0.0|           0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|    1|    0|        PC 17599|71.2833|    C85|       C|       38.0|      1.0|           1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|    0|    0|STON/O2. 3101282|  7.925|Missing|       S|       26.0|      1.0|           0.0|
+-----------+--------+------+--------------------+------+-----+-----+----------------+-------+-------+--------+-----------+---------+--------------+
only showing top 3 rows

In [24]:
df_imputed.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- Age_Imputed: double (nullable = true)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)

In [25]:
df_final=df_imputed.drop('PassengerId','Name','Ticket','Cabin','Sex','Embarked')
df_final.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Age_Imputed: double (nullable = true)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)

In [26]:
#titanic_df = df_imputed.withColumn("Age",df_imputed.Age.cast(IntegerType()))

iv.		Using vectorAssembler combines all columns (except target column i.e., 'Survived’) of spark DataFrame into single column (name as features).   DataFrame should now contains only two columns features and Survived.	5

In [27]:
from pyspark.ml.feature import VectorAssembler

feature=VectorAssembler(inputCols=df_final.columns[1:],outputCol='features')
feature_vector=feature.transform(df_final)
feature_vector.show(2)

+--------+------+-----+-----+-------+-----------+---------+--------------+--------------------+
|Survived|Pclass|SibSp|Parch|   Fare|Age_Imputed|Sex_index|Embarked_index|            features|
+--------+------+-----+-----+-------+-----------+---------+--------------+--------------------+
|       0|     3|    1|    0|   7.25|       22.0|      0.0|           0.0|[3.0,1.0,0.0,7.25...|
|       1|     1|    1|    0|71.2833|       38.0|      1.0|           1.0|[1.0,1.0,0.0,71.2...|
+--------+------+-----+-----+-------+-----------+---------+--------------+--------------------+
only showing top 2 rows

v.		Split the vectorized DataFrame into training and test sets with one third records being held for testing 	3

In [31]:
(trainData, testData) = feature_vector.randomSplit([.67,0.33],seed=1)

vi.		Train default LogisticRegression model with features as 'featuresCol'   and ‘Survived’ as label.	5

In [32]:
from pyspark.ml.classification import LogisticRegression
lr=LogisticRegression(labelCol='Survived',featuresCol="features")
model=lr.fit(trainData)
pred=model.transform(testData)

In [34]:
pred.select('prediction','Survived','features').show(5)

+----------+--------+--------------------+
|prediction|Survived|            features|
+----------+--------+--------------------+
|       0.0|       0|(7,[0,4],[1.0,40.0])|
|       0.0|       0|(7,[0,3,4],[1.0,5...|
|       0.0|       0|(7,[0,3,4],[1.0,2...|
|       0.0|       0|(7,[0,3,4],[1.0,2...|
|       0.0|       0|(7,[0,3,4],[1.0,2...|
+----------+--------+--------------------+
only showing top 5 rows

vii.		Find F1-score of trained models on test set.	5

In [36]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator=MulticlassClassificationEvaluator(labelCol='Survived',predictionCol='prediction',metricName='accuracy')

In [37]:
lr_accuracy= evaluator.evaluate(pred)
print('Accuracy :',lr_accuracy)

Accuracy : 0.7921146953405018

In [38]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator=MulticlassClassificationEvaluator(labelCol='Survived',predictionCol='prediction',metricName='weightedPrecision')
evaluator.evaluate(pred)

0.789272030651341

In [39]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator=MulticlassClassificationEvaluator(labelCol='Survived',predictionCol='prediction',metricName='weightedRecall')
evaluator.evaluate(pred)

0.7921146953405018

## ODI Data Set

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

22/03/02 11:24:32 WARN Utils: Your hostname, ikom-ThinkPad-L450 resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface wlp4s0)
22/03/02 11:24:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ikom/nehal/pyspark/env/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/02 11:24:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
spark

In [ ]:
df=spark.read.csv('ODIData.csv',header=True,inferSchema=True)
df.show(5)

+-------------+-----------+---------+---+---+---+---+---+
| Ponting  R T|  Australia|1995-2012|230|165| 51| 14|124|
+-------------+-----------+---------+---+---+---+---+---+
| Fleming  S P|New Zealand|1994-2007|218| 98|106| 14|105|
| Ranatunga  A|  Sri Lanka|1982-1999|193| 89| 95|  9|102|
|  Dhoni  M S*|      India|    2004-|186|103| 68| 15| 88|
|  Border  A R|  Australia|1979-1994|178|107| 67|  4| 86|
|Azharuddin  M|      India|1985-2000|174| 89| 77|  8| 96|
+-------------+-----------+---------+---+---+---+---+---+
only showing top 5 rows

In [ ]:
spark.stop()

In [ ]:
from pyspark import SparkContext

sc = SparkContext()

pyspark.rdd.RDD

In [ ]:
odiData = sc.textFile( "ODIData.csv")
type(odiData)
odiData.take(5)

['Ponting  R T,Australia,1995-2012,230,165,51,14,124',
 'Fleming  S P,New Zealand,1994-2007,218,98,106,14,105',
 'Ranatunga  A,Sri Lanka,1982-1999,193,89,95,9,102',
 'Dhoni  M S*,India,2004-,186,103,68,15,88',
 'Border  A R,Australia,1979-1994,178,107,67,4,86']

In [ ]:
fields = ("name", "country", "career", "matches", "won", "lost", "ties", "toss" )

In [ ]:
from collections import namedtuple
Captain=namedtuple('Captains',fields)
print(Captain)

<class 'collections.Captains'>

In [ ]:
def parseRecs( line ):
  fields = line.split(",")
  return Captain( fields[0], fields[1], fields[2], int( fields[3] ),
                 int( fields[4] ), int(fields[5]), int(fields[6]), int(fields[7] ) )

captains = odiData.map( lambda rec: parseRecs( rec) )

captains.cache()

PythonRDD[6] at RDD at PythonRDD.scala:53

In [ ]:
captains.take(5)

[Captains(name='Ponting  R T', country='Australia', career='1995-2012', matches=230, won=165, lost=51, ties=14, toss=124),
 Captains(name='Fleming  S P', country='New Zealand', career='1994-2007', matches=218, won=98, lost=106, ties=14, toss=105),
 Captains(name='Ranatunga  A', country='Sri Lanka', career='1982-1999', matches=193, won=89, lost=95, ties=9, toss=102),
 Captains(name='Dhoni  M S*', country='India', career='2004-', matches=186, won=103, lost=68, ties=15, toss=88),
 Captains(name='Border  A R', country='Australia', career='1979-1994', matches=178, won=107, lost=67, ties=4, toss=86)]

In [ ]:
captains.count()

98

In [ ]:
captains.filter(lambda rec : rec.matches>100).count()

16

In [ ]:
captains.filter(lambda rec : rec.country == 'Australia').take(5)

[Captains(name='Ponting  R T', country='Australia', career='1995-2012', matches=230, won=165, lost=51, ties=14, toss=124),
 Captains(name='Border  A R', country='Australia', career='1979-1994', matches=178, won=107, lost=67, ties=4, toss=86),
 Captains(name='Waugh  S R', country='Australia', career='1986-2002', matches=106, won=67, lost=35, ties=4, toss=48),
 Captains(name='Clarke  M J', country='Australia', career='2003-2015', matches=74, won=50, lost=21, ties=3, toss=30),
 Captains(name='Taylor  M A', country='Australia', career='1989-1997', matches=67, won=36, lost=30, ties=1, toss=34)]

In [ ]:
wins_more_than_losses=captains.filter(lambda rec: rec.won > rec.lost )
wins_more_than_losses.take(5)

[Captains(name='Ponting  R T', country='Australia', career='1995-2012', matches=230, won=165, lost=51, ties=14, toss=124),
 Captains(name='Dhoni  M S*', country='India', career='2004-', matches=186, won=103, lost=68, ties=15, toss=88),
 Captains(name='Border  A R', country='Australia', career='1979-1994', matches=178, won=107, lost=67, ties=4, toss=86),
 Captains(name='Azharuddin  M', country='India', career='1985-2000', matches=174, won=89, lost=77, ties=8, toss=96),
 Captains(name='Smith  G C', country='South Africa', career='2002-2013', matches=149, won=91, lost=51, ties=7, toss=74)]

In [ ]:
wins_more_than_losses.map(lambda rec: rec.name).take(5)

['Ponting  R T', 'Dhoni  M S*', 'Border  A R', 'Azharuddin  M', 'Smith  G C']

In [ ]:
# Total matches per country

d1=captains.map(lambda rec : (rec.country,rec.matches))
d1.take(5)

[('Australia', 230),
 ('New Zealand', 218),
 ('Sri Lanka', 193),
 ('India', 186),
 ('Australia', 178)]

In [ ]:
sol=d1.reduceByKey(lambda a,b : a+b)
sol.take(5)

[('Australia', 832),
 ('India', 770),
 ('South Africa', 463),
 ('Pakistan', 781),
 ('West Indies', 658)]

In [ ]:
sol.sortByKey().collect()[:5]

[('Afghanistan', 50),
 ('Australia', 832),
 ('Bangladesh', 251),
 ('Bermuda', 31),
 ('Canada', 27)]

In [ ]:
sol.sortBy(lambda rec : rec[1]).collect()[:5]

[('Canada', 27),
 ('Netherlands', 31),
 ('Bermuda', 31),
 ('Afghanistan', 50),
 ('Ireland', 93),
 ('Kenya', 114),
 ('Bangladesh', 251),
 ('Zimbabwe', 394),
 ('South Africa', 463),
 ('England', 554),
 ('New Zealand', 608),
 ('West Indies', 658),
 ('Sri Lanka', 710),
 ('India', 770),
 ('Pakistan', 781),
 ('Australia', 832)]

In [ ]:
sol.sortBy(lambda rec : rec[1],ascending=False).collect()[:5]

[('Australia', 832),
 ('Pakistan', 781),
 ('India', 770),
 ('Sri Lanka', 710),
 ('West Indies', 658)]

In [ ]:
captains.take(5)

[Captains(name='Ponting  R T', country='Australia', career='1995-2012', matches=230, won=165, lost=51, ties=14, toss=124),
 Captains(name='Fleming  S P', country='New Zealand', career='1994-2007', matches=218, won=98, lost=106, ties=14, toss=105),
 Captains(name='Ranatunga  A', country='Sri Lanka', career='1982-1999', matches=193, won=89, lost=95, ties=9, toss=102),
 Captains(name='Dhoni  M S*', country='India', career='2004-', matches=186, won=103, lost=68, ties=15, toss=88),
 Captains(name='Border  A R', country='Australia', career='1979-1994', matches=178, won=107, lost=67, ties=4, toss=86)]

In [ ]:
luck=captains.map(lambda rec : (rec.name , (rec.toss/rec.matches)*100))
luck.take(5)

[('Ponting  R T', 53.91304347826087),
 ('Fleming  S P', 48.1651376146789),
 ('Ranatunga  A', 52.84974093264248),
 ('Dhoni  M S*', 47.31182795698925),
 ('Border  A R', 48.31460674157304)]

In [ ]:
luck.sortBy(lambda rec : rec[1],ascending=False).take(5)

[('Adams  J C', 69.23076923076923),
 ('Ramiz Raja', 68.18181818181817),
 ('Wright  J G', 67.74193548387096),
 ('Mohammad Ashraful', 65.78947368421053),
 ('Chigumbura  E*', 64.28571428571429)]