## Take-Home Exercise

In [0]:
from pyspark.sql.functions import column,col

In [0]:
df = spark.read.format("csv").option("inferSchema","true").option("header","true").load("/FileStore/tables/NYhost.csv")

### Q. Get the number of rows and columns

In [0]:
len(df.dtypes)

In [0]:
df.count()

In [0]:
## There are 38685 rows and 17 columns.

### Q. Find the top 10 host properties (hotel names) in New York City

In [0]:
df.printSchema()

In [0]:
df.show(20)

In [0]:
df.select("name","reviews_per_month").orderBy("reviews_per_month",ascending=False).show(10)

### Q. What can you tell about the hosts and their properties (hotels)

In [0]:
display(df.groupBy("neighbourhood_group").agg({"host_id":"count"}))

neighbourhood_group,count(host_id)
Queens,4538
Matthew,1
Carmen,1
D,1
TiffanyJoy,1
Kristin,1
Brooklyn,16392
Jorge,1
Staten Island,312
William Hakan,1
Seth,1
127164761,1
1464358,1
Manhattan,16564
Bronx,864
Carolyn,1
Evelyn,1
Krista,1
194716858,1
Gpa,1

In [0]:
## Most of the hosts have their properties (hotels) in Brooklyn and Manhattan.

### Q. Get the total number of hosts and number of properties (hotels) listed

In [0]:
df.select("host_id").distinct().count()

In [0]:
## The total number of hosts are 38560

In [0]:
df.groupBy("host_id").agg({"name":"count"}).show()

### Q. Which neighbourhood group has the highest number of properties (hotels) listed. Plot a bar chart to display the results

In [0]:
display(df.groupBy("neighbourhood_group").agg({"name":"count"}))

neighbourhood_group,count(name)
Queens,4538
Matthew,1
Carmen,1
D,1
TiffanyJoy,1
Kristin,1
Brooklyn,16392
Jorge,1
Staten Island,312
William Hakan,1
Seth,1
127164761,1
1464358,1
Manhattan,16564
Bronx,864
Carolyn,1
Evelyn,1
Krista,1
194716858,1
Gpa,1

In [0]:
## As per the bar chart above the Brooklyn and the Manhattan neighborhood group has the highest number of properties listed.

### Q. Get the top 10 neighbourhoods in New York city

In [0]:
df.groupBy("neighbourhood").agg({"name":"count"}).orderBy("count(name)",ascending=False).show(10)

### Q. Number of nights stayed in shared rooms

In [0]:
df.select("minimum_nights","room_type").where(col("room_type")=="Shared room").show()

### Q. How many neighbourhood groups are present in the New York city?

In [0]:
df.select("neighbourhood_group").distinct().count()

In [0]:
## There are 20 neighbourhood groups