In [1]:
#importing necessary libraries
#libraries will be imported were ever required

In [22]:
from pyspark.sql import SparkSession

In [3]:
#To create a basic SparkSession, just use SparkSession.builder
spark = SparkSession.builder.appName('Titanic Dataset').getOrCreate()

In [4]:
#Data set link : https://www.kaggle.com/c/titanic/overview

In [5]:
# 2. Process Titanic dataset using PySpark - SparkSQL libraries to answer questions given below

In [6]:
#2.i Load the  dataset into a Spark-DataFrame.

In [7]:
df=spark.read.csv('D://M. Tech in Data Science & Machine Learning//Big Data Analytics//Sem_Prep//Titanic_dataset//train.csv',header=True,inferSchema=True)

In [8]:
display(df)#to display the data

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [10]:
df.show(5,False)#view few records

+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22.0|1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38.0|1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                             |female|26.0|0    |0    |STON/O2. 3101282|7.925  |null |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)       |female|35.0|1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                           |male  |35.0|0    |0    |373450          |8.05   |null |S       |
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [12]:
df.describe().show(2)#summary of the Data

+-------+-----------+------------------+-----------------+----+----+-----------------+------------------+-------------------+------------------+----------------+-----+--------+
|summary|PassengerId|          Survived|           Pclass|Name| Sex|              Age|             SibSp|              Parch|            Ticket|            Fare|Cabin|Embarked|
+-------+-----------+------------------+-----------------+----+----+-----------------+------------------+-------------------+------------------+----------------+-----+--------+
|  count|        891|               891|              891| 891| 891|              714|               891|                891|               891|             891|  204|     889|
|   mean|      446.0|0.3838383838383838|2.308641975308642|null|null|29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738|32.2042079685746| null|    null|
+-------+-----------+------------------+-----------------+----+----+-----------------+------------------+-------------------+------------------+----------------+-----+--------+
only showing top 2 rows

In [13]:
df.select('Survived','Pclass').show(5)#to view selected columns

+--------+------+
|Survived|Pclass|
+--------+------+
|       0|     3|
|       1|     1|
|       1|     3|
|       1|     1|
|       0|     3|
+--------+------+
only showing top 5 rows

In [14]:
df.printSchema()#columns and type

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [15]:
#2.ii How many people travelled from Titanic (total count)?

In [16]:
#Pyspark

In [17]:
print('Total passengers count:',df.count())

Total passengers count: 891

In [18]:
#Spark SQL

In [19]:
df.createOrReplaceTempView('train')

In [24]:
spark.sql("select count(distinct(Name)) from train").show()

+--------------------+
|count(DISTINCT Name)|
+--------------------+
|                 891|
+--------------------+

In [0]:
#2.iii What was the average ticket fare?

In [ ]:
#Pyspark

In [0]:
#Reference :https://www.geeksforgeeks.org/find-minimum-maximum-and-average-value-of-pyspark-dataframe-column/
print('Average ticket fare :',df.agg({'Fare': 'avg'}).show())

+----------------+
|       avg(Fare)|
+----------------+
|32.2042079685746|
+----------------+

Average ticket fare : None

In [ ]:
#Spark SQL

In [25]:
spark.sql('select avg(Fare) from train').show()

+----------------+
|       avg(Fare)|
+----------------+
|32.2042079685746|
+----------------+

In [0]:
#2.iv  What was the average age of people travelled from titanic?

In [ ]:
#Pyspark

In [0]:
print('Average age of people travelled from titanic :',df.agg({'Age': 'avg'}).show())

+-----------------+
|         avg(Age)|
+-----------------+
|29.69911764705882|
+-----------------+

Average age of people travelled from titanic : None

In [0]:
#2.v What was the ratio of Lower class - Males to Upper class Females?

#1st = Upper
#2nd = Middle
#3rd = Lower

In [0]:
df.select('Sex','Pclass').show(2)#to view selected columns

+------+------+
|   Sex|Pclass|
+------+------+
|  male|     3|
|female|     1|
+------+------+
only showing top 2 rows

In [30]:
df.filter((df.Pclass=='1') & (df.Sex=='female')).show()#Upper class Females

#reference: https://sparkbyexamples.com/pyspark/pyspark-where-filter/

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|    53.1|       C123|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|   26.55|       C103|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|PC 17569|146.5208|        B78|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|PC 17572| 76.7292|        D33|       C|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|  113572|    80.0|        B28|    null|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|   19950|   263.0|C23 C25 C27|       S|
|        137|       1|     1|Newsom, Miss. Hel...|female|19.0|    0|    2|   11752| 26.2833|        D47|       S|
|        152|       1|     1|Pears, Mrs. Thoma...|female|22.0|    1|    0|  113776|    66.6|         C2|       S|
|        167|       1|     1|Chibnall, Mrs. (E...|female|null|    0|    1|  113505|    55.0|        E33|       S|
|        178|       0|     1|Isham, Miss. Ann ...|female|50.0|    0|    0|PC 17595| 28.7125|        C49|       C|
|        195|       1|     1|Brown, Mrs. James...|female|44.0|    0|    0|PC 17610| 27.7208|         B4|       C|
|        196|       1|     1|Lurette, Miss. Elise|female|58.0|    0|    0|PC 17569|146.5208|        B80|       C|
|        216|       1|     1|Newell, Miss. Mad...|female|31.0|    1|    0|   35273| 113.275|        D36|       C|
|        219|       1|     1|Bazzani, Miss. Al...|female|32.0|    0|    0|   11813| 76.2917|        D15|       C|
|        231|       1|     1|Harris, Mrs. Henr...|female|35.0|    1|    0|   36973|  83.475|        C83|       S|
|        257|       1|     1|Thorne, Mrs. Gert...|female|null|    0|    0|PC 17585|    79.2|       null|       C|
|        258|       1|     1|Cherry, Miss. Gladys|female|30.0|    0|    0|  110152|    86.5|        B77|       S|
|        259|       1|     1|    Ward, Miss. Anna|female|35.0|    0|    0|PC 17755|512.3292|       null|       C|
|        269|       1|     1|Graham, Mrs. Will...|female|58.0|    0|    1|PC 17582|153.4625|       C125|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
only showing top 20 rows

In [31]:
df.filter((df.Pclass=='1') & (df.Sex=='female')).count()#total count

94

In [32]:
df.filter((df.Pclass=='3') & (df.Sex=='male')).show()#lower class males

+-----------+--------+------+--------------------+----+----+-----+-----+---------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|         Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|      A/5 21171|   7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|35.0|    0|    0|         373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|         330877| 8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|male| 2.0|    3|    1|         349909| 21.075| null|       S|
|         13|       0|     3|Saundercock, Mr. ...|male|20.0|    0|    0|      A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|male|39.0|    1|    5|         347082| 31.275| null|       S|
|         17|       0|     3|Rice, Master. Eugene|male| 2.0|    4|    1|         382652| 29.125| null|       Q|
|         27|       0|     3|Emir, Mr. Farred ...|male|null|    0|    0|           2631|  7.225| null|       C|
|         30|       0|     3| Todoroff, Mr. Lalio|male|null|    0|    0|         349216| 7.8958| null|       S|
|         37|       1|     3|    Mamee, Mr. Hanna|male|null|    0|    0|           2677| 7.2292| null|       C|
|         38|       0|     3|Cann, Mr. Ernest ...|male|21.0|    0|    0|     A./5. 2152|   8.05| null|       S|
|         43|       0|     3| Kraeff, Mr. Theodor|male|null|    0|    0|         349253| 7.8958| null|       C|
|         46|       0|     3|Rogers, Mr. Willi...|male|null|    0|    0|S.C./A.4. 23567|   8.05| null|       S|
|         47|       0|     3|   Lennon, Mr. Denis|male|null|    1|    0|         370371|   15.5| null|       Q|
|         49|       0|     3| Samaan, Mr. Youssef|male|null|    2|    0|           2662|21.6792| null|       C|
|         51|       0|     3|Panula, Master. J...|male| 7.0|    4|    1|        3101295|39.6875| null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|male|21.0|    0|    0|     A/4. 39886|    7.8| null|       S|
|         58|       0|     3| Novel, Mr. Mansouer|male|28.5|    0|    0|           2697| 7.2292| null|       C|
|         60|       0|     3|Goodwin, Master. ...|male|11.0|    5|    2|        CA 2144|   46.9| null|       S|
|         61|       0|     3|Sirayanian, Mr. O...|male|22.0|    0|    0|           2669| 7.2292| null|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+---------------+-------+-----+--------+
only showing top 20 rows

In [33]:
df.filter((df.Pclass=='3') & (df.Sex=='male')).count()

347

In [34]:
print('the ratio of Lower class - Males to Upper class Females :',df.filter((df.Pclass=='3') & (df.Sex=='male')).count()/df.filter((df.Pclass=='1') & (df.Sex=='female')).count())

the ratio of Lower class - Males to Upper class Females : 3.6914893617021276

In [35]:
#spark SQL

In [36]:
spark.sql("select count(sex) from train where pclass=3 and sex='male'").show()

+----------+
|count(sex)|
+----------+
|       347|
+----------+

In [37]:
spark.sql("select count(sex) from train where pclass=1 and sex='female'").show()

+----------+
|count(sex)|
+----------+
|        94|
+----------+

In [39]:
spark.sql("select (select count(sex) from train where pclass=3 and sex='male')/(select count(sex) from train where pclass=1 and sex='female')").show()

+---------------------------------------------------------------------+
|(CAST(scalarsubquery() AS DOUBLE) / CAST(scalarsubquery() AS DOUBLE))|
+---------------------------------------------------------------------+
|                                                   3.6914893617021276|
+---------------------------------------------------------------------+

In [40]:
 #2.v Which was the costliest cabin of titanic? What was its fair?

In [ ]:
#pyspark

In [0]:
df.agg({'Fare':'max'}).show()#maximum Fare

+---------+
|max(Fare)|
+---------+
| 512.3292|
+---------+

In [0]:
df.filter(df.Fare == '512.3292').select('Cabin').show()#costliest cabins

+-----------+
|      Cabin|
+-----------+
|       null|
|B51 B53 B55|
|       B101|
+-----------+

In [42]:
#spark SQL

In [48]:
spark.sql('select cabin, max(Fare) from train where cabin is not null group by cabin order by max(Fare) desc limit 1').show()

+-----------+---------+
|      cabin|max(Fare)|
+-----------+---------+
|B51 B53 B55| 512.3292|
+-----------+---------+

In [0]:
#3 . Using SparkML libraries execute the steps, as questioned below, in order to build a PySpark classification ML-model on Titanic dataset

In [49]:
#3.i Find null values count of every feature

In [50]:
from pyspark.sql.functions import isnan, when, count, col

In [51]:
#reference :https://stackoverflow.com/questions/44627386/how-to-find-count-of-null-and-nan-values-for-each-column-in-a-pyspark-dataframe
df.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [52]:
#Age colum has 177 null values
#Cabin colum has 687 null values
#Embarked colum has  2 null values

In [53]:
#3.ii For missing string feature add a new value as ‘missing’. For missing numeric values replace by the mode.

In [54]:
#we have no missing string

In [55]:
df.groupby('Cabin').count().orderBy('count', ascending=False).show(truncate=False)

+-----------+-----+
|Cabin      |count|
+-----------+-----+
|null       |687  |
|B96 B98    |4    |
|C23 C25 C27|4    |
|G6         |4    |
|D          |3    |
|F2         |3    |
|C22 C26    |3    |
|E101       |3    |
|F33        |3    |
|E33        |2    |
|B51 B53 B55|2    |
|B18        |2    |
|D20        |2    |
|C83        |2    |
|D35        |2    |
|C78        |2    |
|B20        |2    |
|E44        |2    |
|E8         |2    |
|B22        |2    |
+-----------+-----+
only showing top 20 rows

In [56]:
df=df.na.fill({'Cabin':'missing'})#as cabin is string column
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|  Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|missing|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|    C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|missing|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|   C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|missing|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|missing|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|    E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|missing|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|missing|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|missing|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|     G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|   C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|missing|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|missing|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|missing|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|missing|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|missing|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|missing|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|missing|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|missing|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-------+--------+
only showing top 20 rows

In [57]:
df.groupby('Embarked').count().orderBy('count', ascending=False).show(truncate=False)

+--------+-----+
|Embarked|count|
+--------+-----+
|S       |644  |
|C       |168  |
|Q       |77   |
|null    |2    |
+--------+-----+

In [58]:
df=df.na.fill({'Embarked':'missing'})#as Embarked is string column
df.show(truncate=False)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-------+--------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin  |Embarked|
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-------+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22.0|1    |0    |A/5 21171       |7.25   |missing|S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38.0|1    |0    |PC 17599        |71.2833|C85    |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26.0|0    |0    |STON/O2. 3101282|7.925  |missing|S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35.0|1    |0    |113803          |53.1   |C123   |S       |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35.0|0    |0    |373450          |8.05   |missing|S       |
|6          |0       |3     |Moran, Mr. James                                       |male  |null|0    |0    |330877          |8.4583 |missing|Q       |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54.0|0    |0    |17463           |51.8625|E46    |S       |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2.0 |3    |1    |349909          |21.075 |missing|S       |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27.0|0    |2    |347742          |11.1333|missing|S       |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14.0|1    |0    |237736          |30.0708|missing|C       |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4.0 |1    |1    |PP 9549         |16.7   |G6     |S       |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58.0|0    |0    |113783          |26.55  |C103   |S       |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20.0|0    |0    |A/5. 2151       |8.05   |missing|S       |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39.0|1    |5    |347082          |31.275 |missing|S       |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14.0|0    |0    |350406          |7.8542 |missing|S       |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55.0|0    |0    |248706          |16.0   |missing|S       |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2.0 |4    |1    |382652          |29.125 |missing|Q       |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |null|0    |0    |244373          |13.0   |missing|S       |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31.0|1    |0    |345763          |18.0   |missing|S       |
|20         |1       |3     |Masselmani, Mrs. Fatima                                |female|null|0    |0    |2649            |7.225  |missing|C       |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-------+--------+
only showing top 20 rows

In [59]:
#Reference:https://stackoverflow.com/questions/51063624/whats-the-equivalent-of-pandas-value-counts-in-pyspark
#for numeric vlaues replace by mode

df.groupby('Age').count().orderBy('count', ascending=False).show(2)

+----+-----+
| Age|count|
+----+-----+
|null|  177|
|24.0|   30|
+----+-----+
only showing top 2 rows

In [60]:
#Reference:https://sparkbyexamples.com/pyspark/pyspark-fillna-fill-replace-null-values/#:~:text=PySpark%20fillna()%20%26%20fill()%20%E2%80%93%20Replace%20NULL%2FNone%20Values&text=In%20PySpark%2C%20DataFrame.,or%20any%20constant%20literal%20values.

#replace value by 24

df=df.na.fill({'Age':24.0})#as age is numeric column
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|  Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|missing|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|    C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|missing|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|   C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|missing|       S|
|          6|       0|     3|    Moran, Mr. James|  male|24.0|    0|    0|          330877| 8.4583|missing|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|    E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|missing|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|missing|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|missing|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|     G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|   C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|missing|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|missing|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|missing|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|missing|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|missing|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|24.0|    0|    0|          244373|   13.0|missing|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|missing|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|24.0|    0|    0|            2649|  7.225|missing|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-------+--------+
only showing top 20 rows

In [61]:
df.groupby('Age').count().orderBy('count', ascending=False).show(2)#checking

+----+-----+
| Age|count|
+----+-----+
|24.0|  207|
|22.0|   27|
+----+-----+
only showing top 2 rows

In [62]:
##3.iii Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore.

In [63]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = false)
 |-- Embarked: string (nullable = false)

In [64]:
df.show(2)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|  Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25|missing|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|71.2833|    C85|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-------+--------+
only showing top 2 rows

In [65]:
#PassengerID, Name, Ticket, Cabin can be droped
df=df.drop('PassengerID', 'Name', 'Ticket', 'Cabin')

In [66]:
df.show(2)

+--------+------+------+----+-----+-----+-------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|
+--------+------+------+----+-----+-----+-------+--------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|
|       1|     1|female|38.0|    1|    0|71.2833|       C|
+--------+------+------+----+-----+-----+-------+--------+
only showing top 2 rows

In [67]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

In [68]:
indexers=[StringIndexer(inputCol=c,outputCol=c+'_index').fit(df)  for c in ['Sex','Embarked']]
pipeline=Pipeline(stages=indexers)
df=pipeline.fit(df).transform(df)

In [69]:
df.show()

+--------+------+------+----+-----+-----+-------+--------+---------+--------------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|   Fare|Embarked|Sex_index|Embarked_index|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|      0.0|           0.0|
|       1|     1|female|38.0|    1|    0|71.2833|       C|      1.0|           1.0|
|       1|     3|female|26.0|    0|    0|  7.925|       S|      1.0|           0.0|
|       1|     1|female|35.0|    1|    0|   53.1|       S|      1.0|           0.0|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|      0.0|           0.0|
|       0|     3|  male|24.0|    0|    0| 8.4583|       Q|      0.0|           2.0|
|       0|     1|  male|54.0|    0|    0|51.8625|       S|      0.0|           0.0|
|       0|     3|  male| 2.0|    3|    1| 21.075|       S|      0.0|           0.0|
|       1|     3|female|27.0|    0|    2|11.1333|       S|      1.0|           0.0|
|       1|     2|female|14.0|    1|    0|30.0708|       C|      1.0|           1.0|
|       1|     3|female| 4.0|    1|    1|   16.7|       S|      1.0|           0.0|
|       1|     1|female|58.0|    0|    0|  26.55|       S|      1.0|           0.0|
|       0|     3|  male|20.0|    0|    0|   8.05|       S|      0.0|           0.0|
|       0|     3|  male|39.0|    1|    5| 31.275|       S|      0.0|           0.0|
|       0|     3|female|14.0|    0|    0| 7.8542|       S|      1.0|           0.0|
|       1|     2|female|55.0|    0|    0|   16.0|       S|      1.0|           0.0|
|       0|     3|  male| 2.0|    4|    1| 29.125|       Q|      0.0|           2.0|
|       1|     2|  male|24.0|    0|    0|   13.0|       S|      0.0|           0.0|
|       0|     3|female|31.0|    1|    0|   18.0|       S|      1.0|           0.0|
|       1|     3|female|24.0|    0|    0|  7.225|       C|      1.0|           1.0|
+--------+------+------+----+-----+-----+-------+--------+---------+--------------+
only showing top 20 rows

In [70]:
df=df.drop('Sex','Embarked')

In [71]:
df.show()

+--------+------+----+-----+-----+-------+---------+--------------+
|Survived|Pclass| Age|SibSp|Parch|   Fare|Sex_index|Embarked_index|
+--------+------+----+-----+-----+-------+---------+--------------+
|       0|     3|22.0|    1|    0|   7.25|      0.0|           0.0|
|       1|     1|38.0|    1|    0|71.2833|      1.0|           1.0|
|       1|     3|26.0|    0|    0|  7.925|      1.0|           0.0|
|       1|     1|35.0|    1|    0|   53.1|      1.0|           0.0|
|       0|     3|35.0|    0|    0|   8.05|      0.0|           0.0|
|       0|     3|24.0|    0|    0| 8.4583|      0.0|           2.0|
|       0|     1|54.0|    0|    0|51.8625|      0.0|           0.0|
|       0|     3| 2.0|    3|    1| 21.075|      0.0|           0.0|
|       1|     3|27.0|    0|    2|11.1333|      1.0|           0.0|
|       1|     2|14.0|    1|    0|30.0708|      1.0|           1.0|
|       1|     3| 4.0|    1|    1|   16.7|      1.0|           0.0|
|       1|     1|58.0|    0|    0|  26.55|      1.0|           0.0|
|       0|     3|20.0|    0|    0|   8.05|      0.0|           0.0|
|       0|     3|39.0|    1|    5| 31.275|      0.0|           0.0|
|       0|     3|14.0|    0|    0| 7.8542|      1.0|           0.0|
|       1|     2|55.0|    0|    0|   16.0|      1.0|           0.0|
|       0|     3| 2.0|    4|    1| 29.125|      0.0|           2.0|
|       1|     2|24.0|    0|    0|   13.0|      0.0|           0.0|
|       0|     3|31.0|    1|    0|   18.0|      1.0|           0.0|
|       1|     3|24.0|    0|    0|  7.225|      1.0|           1.0|
+--------+------+----+-----+-----+-------+---------+--------------+
only showing top 20 rows

In [72]:
###3.iv Using vectorAssembler combines all columns (except target column i.e., 'Survived’) of spark DataFrame into single column (name as features).   DataFrame should now contains only two columns features and Survived.

In [73]:
from pyspark.ml.feature import VectorAssembler

In [74]:
feature = VectorAssembler(inputCols=df.columns[1:],outputCol="features")
feature_vector= feature.transform(df)

In [75]:
feature_vector.show()

+--------+------+----+-----+-----+-------+---------+--------------+--------------------+
|Survived|Pclass| Age|SibSp|Parch|   Fare|Sex_index|Embarked_index|            features|
+--------+------+----+-----+-----+-------+---------+--------------+--------------------+
|       0|     3|22.0|    1|    0|   7.25|      0.0|           0.0|[3.0,22.0,1.0,0.0...|
|       1|     1|38.0|    1|    0|71.2833|      1.0|           1.0|[1.0,38.0,1.0,0.0...|
|       1|     3|26.0|    0|    0|  7.925|      1.0|           0.0|[3.0,26.0,0.0,0.0...|
|       1|     1|35.0|    1|    0|   53.1|      1.0|           0.0|[1.0,35.0,1.0,0.0...|
|       0|     3|35.0|    0|    0|   8.05|      0.0|           0.0|(7,[0,1,4],[3.0,3...|
|       0|     3|24.0|    0|    0| 8.4583|      0.0|           2.0|[3.0,24.0,0.0,0.0...|
|       0|     1|54.0|    0|    0|51.8625|      0.0|           0.0|(7,[0,1,4],[1.0,5...|
|       0|     3| 2.0|    3|    1| 21.075|      0.0|           0.0|[3.0,2.0,3.0,1.0,...|
|       1|     3|27.0|    0|    2|11.1333|      1.0|           0.0|[3.0,27.0,0.0,2.0...|
|       1|     2|14.0|    1|    0|30.0708|      1.0|           1.0|[2.0,14.0,1.0,0.0...|
|       1|     3| 4.0|    1|    1|   16.7|      1.0|           0.0|[3.0,4.0,1.0,1.0,...|
|       1|     1|58.0|    0|    0|  26.55|      1.0|           0.0|[1.0,58.0,0.0,0.0...|
|       0|     3|20.0|    0|    0|   8.05|      0.0|           0.0|(7,[0,1,4],[3.0,2...|
|       0|     3|39.0|    1|    5| 31.275|      0.0|           0.0|[3.0,39.0,1.0,5.0...|
|       0|     3|14.0|    0|    0| 7.8542|      1.0|           0.0|[3.0,14.0,0.0,0.0...|
|       1|     2|55.0|    0|    0|   16.0|      1.0|           0.0|[2.0,55.0,0.0,0.0...|
|       0|     3| 2.0|    4|    1| 29.125|      0.0|           2.0|[3.0,2.0,4.0,1.0,...|
|       1|     2|24.0|    0|    0|   13.0|      0.0|           0.0|(7,[0,1,4],[2.0,2...|
|       0|     3|31.0|    1|    0|   18.0|      1.0|           0.0|[3.0,31.0,1.0,0.0...|
|       1|     3|24.0|    0|    0|  7.225|      1.0|           1.0|[3.0,24.0,0.0,0.0...|
+--------+------+----+-----+-----+-------+---------+--------------+--------------------+
only showing top 20 rows

In [76]:
###3.v Split the vectorized DataFrame into training and test sets with one third records being held for testing

In [77]:
(trainingData, testData) = feature_vector.randomSplit([0.8, 0.2],seed = 11)

In [78]:
trainingData.show()

+--------+------+----+-----+-----+--------+---------+--------------+--------------------+
|Survived|Pclass| Age|SibSp|Parch|    Fare|Sex_index|Embarked_index|            features|
+--------+------+----+-----+-----+--------+---------+--------------+--------------------+
|       0|     1| 2.0|    1|    2|  151.55|      1.0|           0.0|[1.0,2.0,1.0,2.0,...|
|       0|     1|18.0|    1|    0|   108.9|      0.0|           1.0|[1.0,18.0,1.0,0.0...|
|       0|     1|19.0|    1|    0|    53.1|      0.0|           0.0|[1.0,19.0,1.0,0.0...|
|       0|     1|19.0|    3|    2|   263.0|      0.0|           0.0|[1.0,19.0,3.0,2.0...|
|       0|     1|21.0|    0|    1| 77.2875|      0.0|           0.0|[1.0,21.0,0.0,1.0...|
|       0|     1|24.0|    0|    0|     0.0|      0.0|           0.0|(7,[0,1],[1.0,24.0])|
|       0|     1|24.0|    0|    0|  25.925|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|24.0|    0|    0|    26.0|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|24.0|    0|    0|   26.55|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|24.0|    0|    0| 27.7208|      0.0|           1.0|[1.0,24.0,0.0,0.0...|
|       0|     1|24.0|    0|    0|    35.0|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|24.0|    0|    0|    50.0|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|24.0|    0|    0|    52.0|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|24.0|    0|    0|    79.2|      0.0|           1.0|[1.0,24.0,0.0,0.0...|
|       0|     1|24.0|    0|    0| 227.525|      0.0|           1.0|[1.0,24.0,0.0,0.0...|
|       0|     1|24.0|    0|    1|247.5208|      0.0|           1.0|[1.0,24.0,0.0,1.0...|
|       0|     1|25.0|    1|    2|  151.55|      1.0|           0.0|[1.0,25.0,1.0,2.0...|
|       0|     1|27.0|    0|    2|   211.5|      0.0|           1.0|[1.0,27.0,0.0,2.0...|
|       0|     1|28.0|    0|    0|    47.1|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
|       0|     1|29.0|    0|    0|    30.0|      0.0|           0.0|(7,[0,1,4],[1.0,2...|
+--------+------+----+-----+-----+--------+---------+--------------+--------------------+
only showing top 20 rows

In [79]:
####3.vi Train default LogisticRegression model with features as 'featuresCol'   and ‘Survived’ as label.

In [80]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [81]:
lr = LogisticRegression(labelCol="Survived", featuresCol="features")
#Training algo
lrModel = lr.fit(trainingData)
lr_prediction = lrModel.transform(testData)
lr_prediction.select("prediction", "Survived", "features").show()
evaluator = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")

+----------+--------+--------------------+
|prediction|Survived|            features|
+----------+--------+--------------------+
|       1.0|       0|[1.0,22.0,0.0,0.0...|
|       1.0|       0|(7,[0,1],[1.0,24.0])|
|       1.0|       0|[1.0,24.0,0.0,0.0...|
|       1.0|       0|[1.0,24.0,0.0,0.0...|
|       1.0|       0|(7,[0,1,4],[1.0,2...|
|       1.0|       0|[1.0,24.0,0.0,0.0...|
|       1.0|       0|(7,[0,1,4],[1.0,2...|
|       1.0|       0|(7,[0,1,4],[1.0,2...|
|       1.0|       0|[1.0,28.0,1.0,0.0...|
|       0.0|       0|[1.0,29.0,1.0,0.0...|
|       0.0|       0|[1.0,31.0,1.0,0.0...|
|       0.0|       0|[1.0,37.0,1.0,0.0...|
|       0.0|       0|[1.0,38.0,0.0,1.0...|
|       0.0|       0|[1.0,45.0,1.0,0.0...|
|       0.0|       0|(7,[0,1,4],[1.0,4...|
|       0.0|       0|[1.0,58.0,0.0,2.0...|
|       0.0|       0|(7,[0,1,4],[1.0,6...|
|       0.0|       0|(7,[0,1,4],[1.0,6...|
|       0.0|       0|[1.0,71.0,0.0,0.0...|
|       0.0|       0|[2.0,19.0,1.0,1.0...|
+----------+--------+--------------------+
only showing top 20 rows

In [82]:
lr_accuracy = evaluator.evaluate(lr_prediction)
print("Accuracy of LogisticRegression is = %g"% (lr_accuracy))
print("Test Error of LogisticRegression = %g " % (1.0 - lr_accuracy))

Accuracy of LogisticRegression is = 0.787234
Test Error of LogisticRegression = 0.212766

In [0]:
#3.vii Find F1-score of trained models on test set.